*.[ao]
*.so*

doxy/

config.h
libsigrokdecode_export.h
libsigrokdecode_version.h
libsigrokdecode.dll
cygsigrokdecode∗.dll
libsigrokdecode.pc
libsigrokdecode-*.tar.gz
unittest*

CMakeCache.txt
CMakeFiles/
CPack*
_CPack*
CTest*
Testing/
cmake_install.cmake
DartConfiguration.tcl
install_manifest.txt
Makefile

.vs/
Debug/
Release/
x64/
*.vcxproj.user

__pycache__/
*.pyc
